<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center mx-auto mb-5 mt-5">
  <h1 class="text-2xl">nDex</h1>
  <div class="flex mx-auto justify-center text-center w-1/2">
	<p class="text-xl px-2">${{price}}</p>
  	<p class="text-xl px-2"><app-pill change="{{change}}"></app-pill></p>
  </div>
</div>
<app-index-chart class="my-5"></app-index-chart>
<div class="mx-auto w-5/12 rounded flex justify-between mt-5 mb-5 pb-5 text-sm">
	<div class="rounded bg-gray-200 text-center py-1 px-2 m-2 hover:bg-gray-300 hover:shadow w-full">
		<p>Week</p>
	</div>
	<div class="rounded bg-gray-200 text-center py-1 px-2 m-2 hover:bg-gray-300 hover:shadow w-full">
		<p>Month</p>
	</div>
	<div class="rounded bg-gray-200 text-center py-1 px-2 m-2 hover:bg-gray-300 hover:shadow w-full">
		<p>6 Month</p>
	</div>
	<div class="rounded bg-gray-200 text-center py-1 px-2 m-2 hover:bg-gray-300 hover:shadow w-full">
		<p>Year</p>
	</div>
	<div class="rounded bg-gray-200 text-center py-1 px-2 m-2 hover:bg-gray-300 hover:shadow w-full">
		<p>5 Year</p>
	</div>
</div>
<div class="mx-auto w-3/4 bg-teal-200 rounded text-center mt-5 mb-5 pb-5">
	<h1 class="text-xl pt-5 mb-2"> nDex Components </h1>
	<table class="table-auto w-9/12 mx-auto">
		<thead>
			<tr>
				<th class="px-4 py-2">Ticker</th>
				<th class="px-4 py-2">Weight</th>
				<th class="px-4 py-2">Price</th>
				<th class="px-4 py-2">Change</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let stock of stocks; index as i"
				class="hover:bg-teal-300 hover:shadow">
				<td class="px-4 py-2">{{stock.ticker}}</td>
				<td class="px-4 py-2">{{stock.weight}}%</td>
				<td class="px-4 py-2">${{stock.price}}</td>
				<td class="px-4 py-2">
					<app-pill change="{{stock.change}}"></app-pill>
				</td>
			</tr>
		</tbody>
	</table>
</div>

